/* html,
body {
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7D15F;

}

#container {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.container {
  margin: 0 2em;
}

#principle1,
#principle2,
#principle3,
#principle4,
#principle5,
#principle6,
#principle7,
#principle8,
#principle9,
#principle10,
#principle11,
#principle12 {
  max-width: 100%;
  height: 100%;
}

/* GRID SYSTEM */
.row {
  --gridgap: 2em;
  padding-top: 2em;
}

@media (min-width: 768px) {
  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gridgap);
  }

  .last {
    padding-bottom: 5em;
  }

  .one-whole {
    grid-column: span 12 / span 12;
  }

  .one-half {
    grid-column: span 6 / span 6;
  }

  .one-third {
    grid-column: span 4 / span 4;
  }

  .two-thirds {
    grid-column: span 8 / span 8;
  }

  .one-fourth {
    grid-column: span 3 / span 3;
  }

  .three-fourths {
    grid-column: span 9 / span 9;
  }

  .one-half.centered {
    grid-column-start: 4;
  }

  .one-third.centered {
    grid-column-start: 5;
  }

  .two-thirds.centered {
    grid-column-start: 3;
  }
}